@media screen and (max-width: 1000px) {
  .nav__list {
    display: none;
  }
  .nav__search {
    display: none;
  }
  .menu {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .nav__search-input input {
    width: 150px;
  }

  aside {
    display: none !important;
  }
}

@media screen and (min-width: 1300px) {
  .nav__search-input input {
    width: 376px;
  }
}

@media screen and (min-width: 1400px) {
  .swiper {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .sales__not__mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .numbers-item {
    width: 100px;
    height: 100px;
  }

  #hero {
    height: 44vh;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .green-title {
    font-size: 20px;
  }

  .hero__title {
    margin-left: 100px;
  }

  .organick-btn {
    padding: 12px 20px;
  }

  .logo {
    width: 140px;
  }

  .nav {
    padding: 20px 0;
  }

  #sales {
    padding-block: 80px;
  }

  #about {
    flex-direction: column-reverse;
    padding-block: 20px;
  }

  .main-title {
    font-size: 35px;

    &.sm {
      font-size: 20px;
    }
  }

  .desc-text {
    font-size: 14px;
  }

  #products {
    margin-top: 50px;
  }

  .products__box {
    display: none;
  }

  .card {
    width: 40%;

    .main-title {
      font-size: 20px;
    }
  }

  .swiper-button-next {
    right: 10%;
  }

  .swiper-button-prev {
    left: 10%;
  }

  #review {
    height: fit-content;
    padding-block: 30px;
    background-size: contain;

    .main-title {
      font-size: 16px;
    }

    .desc-text {
      font-size: 12px;
    }
  }

  .footer__top {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .footer__item {
    text-align: center;

    &.central {
      order: -1;
      width: 90%;
      border-inline: none;
    }

    &:first-child {
      text-align: center;
    }
  }

  .footer__icons {
    margin-top: 20px;
    gap: 50px;
  }

  .footer__bottom {
    margin-top: 0;
  }
}

@media screen and (max-width: 426px) {
  .review__numbers {
    display: none;
  }

  .footer__icons {
    gap: 25px;

    .icon {
      padding: 13px;
    }
  }

  #hero {
    height: 28vh;
    background-position: center;
  }

  h1 {
    font-size: 14px;
  }

  .green-title {
    font-size: 12px;
  }

  .organick-btn {
    border-radius: 6px;
    gap: 6px;
    padding: 7px 10px;

    p {
      font-size: 11px;
    }

    img {
      width: 12px;
    }
  }

  .hero__title {
    margin-left: 30px;
  }

  #sales {
    padding-block: 50px;

    img {
      width: 70%;
    }
  }
}
