@media screen and (max-width: 1000px) {
  .nav__list{
    display: none;
  }
  .nav__search {
    display: none;
  }
  .menu{
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .nav__search-input input{
    width: 150px;
  }
}

@media screen and (min-width: 1300px) {
  .nav__search-input input{
    width: 376px;
  }
}