@media screen and (max-width: 768px) {
  .nav__list{
    display: none;
  }
  .nav__search {
    display: none;
  }
}

@media (max-width) {
  
}



@media screen and (min-width: 769px) {
  .menu{
    display: none;
  }
}