* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 2000px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav__list {
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
}

.nav__search-input {
  position: relative;
  height: 66px;
}

.nav__search-input img {
  position: absolute;
  right: 6px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav__search-input input {
  height: 100%;
  width: 376px;
  border-radius: 36px;
  padding-left: 20px;
  padding-right: 80px;
  font-size: 20px;
  border: 2px solid var(--border-color);
  background-color: var(--search-color);
}

.nav__search-cart {
  border: 2px solid var(--border-color);
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 23px;
  gap: 12px;
  border-radius: 36px;
}

.nav__search {
  display: flex;
  gap: 18px;
}

#hero {
  background-image: url(../images/hero.jpg);
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero__title {
  margin-left: 270px;
}

.green-title {
  color: var(--green-color);
  font-size: 36px;
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 8px;
}

h1 {
  color: var(--primary-color);
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
}

.organick-btn {
  background-color: var(--yellow-color);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 30px;
  border-radius: 16px;
  color: var(--primary-color);
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  &.dark {
    background-color: var(--primary-color);
    color: white;
  }
}

.organick-btn:hover {
  transform: translateY(-5px);
}

#sales {
  display: flex;
  justify-content: center;
  gap: 36px;
  padding-block: 150px;
}

#sales img {
  border-radius: 30px;
}

#about {
  display: flex;
  align-items: center;
  padding-inline: 100px;
  background-color: var(--bg-color);
}

.about__right {
  .main-title {
    margin-bottom: 14px;
  }
}

.main-title {
  font-size: 50px;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;

  &.sm {
    font-size: 25px;
  }
}

.about__left {
  width: 50%;
}

.desc-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--desc-color);
}

.about__right-list {
  list-style-type: none;
  margin-block: 46px;

  li {
    display: flex;
    gap: 46px;
    margin-top: 30px;

    .main-title {
      margin-bottom: 7px;
    }
  }
}

.products__title {
  margin: auto;
  width: fit-content;
  text-align: center;
}

.card {
  border: 2px solid var(--border-color);
  width: 20%;
  padding: 20px 30px;
  border-radius: 30px;

  .organick-btn {
    padding: 5px 12px;
    border-radius: 8px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
  }

  hr {
    margin-block: 15px;
    border: none;
    background-color: var(--border-color);
    height: 2px;
  }

  .main-title:first-child {
    font-size: 20px;
    margin-bottom: 13px;
  }

  .card__info {
    display: flex;
    justify-content: space-between;

    .card__rating {
      object-fit: contain;
    }
  }
}

.card__price {
  display: flex;
  align-items: center;
}

.card__img {
  margin: auto;
  display: block;
  width: 100%;
}

.old {
  color: var(--old-price-color);
  font-size: 15px;
  text-decoration: line-through;
}

.new {
  margin-left: 8px;
  font-size: 18px;
}
